.g body { position: relative; }

.g body::after {
    background: url('data:image/svg+xml;utf8,<svg height="27"');
    content: "";
    display: block;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    position: absolute;
}

.g body:active::after { display: none;}