/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/** A quick baseline grid overlay using css+svg. Inspired by [Basehold.it](https://basehold.it/). @author leshido */

.g body { position: relative; }

.g body::after {
  background: url('data:image/svg+xml;utf8,<svg height="24" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 255)" /></svg>') repeat top left;
  content: "";
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
}

.g body:active::after { display: none; }


html {
  background-color: #97BFB4;
  color: #4F091D;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em; /* 18 / 16 = 1.25 target:18px*/
  line-height: 1.3333333333em; /* 24 / 18 = 1.3333333333em */
  padding: 2.6666666666em; /* 24 / 18 = 1.3333333333em */
  overflow-wrap: anywhere;
}

h1 {
  font-size: 5.063em; /** 91.125 / 18 **/
  line-height: 1.333465021em; /* 121.512 / 91.125 */
  margin: 1.249333333rem; /* 22.488 / 18 */
  text-align: center;
}

h2 {
  font-size: 2.25em; /** 40.5 / 18 **/
  line-height: 1.333333333em; /* 54 / 40.5 */
  padding-bottom: 1rem;
}

h3 {
  font-size: 1.5em; /** 27 / 18 **/
  font-weight: bolder;
  line-height: 1.333333333em; /* 36 / 27 */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

body {
  background-color: #F5EEDC;
}

main {
  padding: 1.3333333333em;
}

nav ul {
  background-color: rgb(148, 17, 45);
  padding: 0;
}

nav a {
  color: #F5EEDC;
  text-decoration: none;
  border-style: solid;
  border-color: #DD4A48;
  border-width: 1px;
  display: block;
  padding: 12px;
}

nav ul {
  display: flex;
  justify-content: center;
  flex: 1 0 au;
}

.embellishment-container {
  font-size: 2.25em; /* 40.5 / 18 */
  line-height: 1.333333333em; /* 54 / 40.5*/
  padding: 1.5rem;
  padding-left: 60px;
}

.embellishment-container #emb01 {
  font-family: cursive;
  font-weight: 600;
}
.embellishment-container #emb02 {
  font-family: monospace;
}
.embellishment-container #emb03 {
  font-weight: 700;
  font-family: serif;
}



.bulleted-list {
  list-style-type: disc;
}

.bulleted-list .term {
  font-size: 0.444em; /* 8 / 18 */
  font-weight: bold;
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 556px) {

  html {
    font-size: 1.125em;
  }

  .bulleted-list {
    padding-left: 150px;
  }
  
  .references {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: 1rem;
    line-height: 24px;
  }

  .references ul {
    border-style:ridge;
    border-width: 2px;
    border-color: #DD4A48;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}